server:
  port: 8080

spring:
  application:
    name: api-gateway-willbank

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

instance:
    prefer-ip-address: true

logging:
  file:
    name: log.txt
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO
    com.stevecompany.apiGateWayWillBank: INFO

